*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body{
  background-color: #42b883;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}
.contenedor-del-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.logo_manzana{
  width: 100px;
  height: 100px;
}
.contenedor-contador{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}